<div class="d-flex flex-row bd-highlight mb-3">
  <div class="form-froup row" style="width: 75%">
    <label class="col-sm-6" *ngIf='!newDevice'>Track ID:</label>
    <div class="col-sm-6 data-container" *ngIf='!newDevice'>
      <input type="text" class="form-control" [(ngModel)]="DeviceID" [disabled]='!newDevice'>
    </div>
    <label class="col-sm-6">Device Type: </label>
    <div class="col-sm-6 data-container">
      <select class="form-control" [(ngModel)]="DeviceType" (ngModelChange)="onChange($event)" [disabled]='!newDevice'>
        <option *ngFor="let deviceType of deviceTypeList">
          {{deviceType}}
        </option>
      </select>
    </div>
    <label class="col-sm-6">Location Latitude: </label>
    <div class="col-sm-6 data-container">
      <input type=number step=0.000001 class="form-control" [(ngModel)]="DeviceLocationLatitude">
    </div>

    <label class="col-sm-6">Location Longtitude: </label>
    <div class="col-sm-6 data-container">
      <input type=number step=0.000001 class="form-control" [(ngModel)]="DeviceLocationLongtitude">
    </div>
  </div>
</div>
<app-car-edit-sub-modal *ngIf="(newDeviceIsCar() && newDevice) || (!newDevice && editDeviceIsCar())" [events]="eventsSubject.asObservable()" [newDevice]='newDevice' [deviceStateData]='deviceStateData' (sendDataBackToMainModal)='sendCollectedData($event)'>
</app-car-edit-sub-modal>
<app-fridge-edit-sub-modal *ngIf="(newDeviceIsFridge() && newDevice) || (!newDevice && editDeviceIsFridge())" [events]="eventsSubject.asObservable()" [newDevice]='newDevice' [deviceStateData]='deviceStateData' (sendDataBackToMainModal)='sendCollectedData($event)'>
</app-fridge-edit-sub-modal>
<div class="data-error" *ngIf="errorField">Ooooops, your data exist error, Please check and try again</div>

<button class="btn btn-primary modal-button" *ngIf='newDevice' (click)="addClick()">
  Add
</button>

<button class="btn btn-primary modal-button" *ngIf='!newDevice' (click)="updateClick()">
  Update
</button>

<button class="btn btn-primary modal-button" *ngIf='!newDevice' (click)="deleteClick()">
  Delete
</button>


