<div class="d-flex flex-row bd-highlight mb-3">
  <div class="form-froup row" style="width: 75%">
    <label class="col-sm-6">Ice Level: </label>
    <div class="col-sm-6 data-container">
        <select class="form-control" [(ngModel)]="IceLevel">
          <option>LOW</option>
          <option>HALF</option>
          <option>FULL</option>
        </select>
      </div>
    <label class="col-sm-6">Water Leak: </label>
    <div class="col-sm-6 data-container">
      <select class="form-control" [(ngModel)]="WaterLeak">
        <option>YES</option>
        <option>NO</option>
      </select>
    </div>
  </div>
</div>
